/* Acá va tu código */

body {
  background-image: url(../src/image/pexels-photo-796606.jpeg);
  background-color: aquamarine;
  background-repeat: no-repeat;
}

header {
  text-align: center;
}

h1 {
  color: white;
}

h4 {
  color: orange
}

.block {
  display: block;
}

#encode {
  position: absolute;
  resize: none;
  height: 155px;
  width: 500px;
  display: inline-block;
  left: 53px;
  top: 216px;
}

#cajauno {
  position: absolute;
  resize: none;
  height: 155px;
  width: 500px;
  display: inline-block;
  left: 700px;
  top: 216px;
}

#botonuno {
  position: absolute;
  display: inline-block;
  left: 500px;
  top: 384px;
  font-size: 20px;
  width: 250px;
}

#decode {
  position: absolute;
  resize: none;
  height: 155px;
  width: 500px;
  display: inline-block;
  left: 53px;
  top: 420px;
}

#cajados {
  position: absolute;
  resize: none;
  height: 155px;
  width: 500px;
  display: inline-block;
  left: 700px;
  top: 420px;
}

#botondos {
  position: absolute;
  display: inline-block;
  left: 500px;
  top: 590px;
  padding-left: 20px;
  font-size: 20px;
  width: 250px;
}