/* Acá va tu código */
body{
    background-color: black;
}

.first-section {
    text-align: center;

}

h1 {
    color: white;
}

h4 {
    color: orange
}
.block{

    display: block;
}

.caja{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

#purple{
    background-color:purple;
}

#violet{
    background-color:violet ;

}

button {
    display: inline;
    padding-left: 20px;
    font-weight: 20px;
    font-size: 20px;
    position: relative; 
}

#pink{
    background-color: pink;
}

#palevioletred{
    background-color:palevioletred;
}
